In [94]:

b = "hello"[0:4]
print(b)

hell

In [95]:
numbers = [1,2,3,4,5]
fruits = ["apple", "banana", "cherry"]
mixed = [10, "Hello", 3.14, True]
print(numbers)
print(fruits[0:2])
print(mixed[-1])

[1, 2, 3, 4, 5]
['apple', 'banana']
True

In [96]:
students = {"name": "kevin", "major": "math"}
students["major"] = "computer science, art science"
students["age"] = 20
del students["name"]
print(students)

{'major': 'computer science, art science', 'age': 20}

In [97]:
# fruits에 원소 0, 1, 2 저장
fruits = ["apple", "banana", "cherry"]
# 원소1 변경
fruits[1] = "grape"
# 원소2 삭제
del fruits[2]
# 새로운 원소2 추가
fruits.append("orange")
# 원소 출력
print(fruits)

['apple', 'grape', 'orange']

In [98]:
colors = ("red", "green", "blue", "yellow")
print(colors[2])

blue

In [99]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print(A|B)
print(A&B)
print(A-B, B-A)
print((A-B)|(B-A))

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2} {5, 6}
{1, 2, 5, 6}

In [100]:
student = {"이름": "김철수", "나이": 20, "학교": "서울대학교"}
student["학과"] = "컴퓨터공학과"
student["나이"] = 21
del student["학교"]
print(student)

{'이름': '김철수', '나이': 21, '학과': '컴퓨터공학과'}

In [101]:
print("ㅔ" in "ㄴㅔ")
print("전" in "전윤재")

True
True

In [118]:
a = float(input("a를 입력하세요: "))
b = float(input("b를 입력하세요: "))
compute = input("사칙연산 기호를 입력하세요: ")
print("a를 입력하세요:", a)
print("b를 입력하세요:", b)
print("기호:", compute)
if compute == "+" :
    print("덧셈:", a+b)
elif compute == "-" :
    print("뺄셈:", a-b)
elif compute == "*" :
    print("곱셈:", a*b)
elif compute == "/" :
    print("나눗셈:", a/b)
    print("몫:", int (a// b))
    print("나머지:", a % b)

a를 입력하세요: 29.0
b를 입력하세요: 13.0
기호: /
나눗셈: 2.230769230769231
몫: 2
나머지: 3.0

In [124]:
a = float(input("수를 입력하세요: "))
print("a:", a)
if a > 0 :
    print("a는 양수입니다")
elif a < 0 :
    print("a는 음수입니다")
else :
    print("a는 0입니다")

a: 13.0
a는 양수입니다

In [145]:
for i in range(10):
    if i == 9:
        continue
    print(i)

0
1
2
3
4
5
6
7
8

In [148]:
while True:
    print("10초 후에 종료됩니다")
    command = input("명령을 입력하세요 (exit 입력 시 종료):")
    if command == "exit":
        print("프로그램 종료")
        break
    print("입력한 명령:", command)

10초 후에 종료됩니다
입력한 명령:
10초 후에 종료됩니다
입력한 명령:
10초 후에 종료됩니다
입력한 명령:
10초 후에 종료됩니다
입력한 명령:
10초 후에 종료됩니다
입력한 명령:
10초 후에 종료됩니다
입력한 명령:
10초 후에 종료됩니다
입력한 명령:
10초 후에 종료됩니다
프로그램 종료

In [176]:
nums = []
for i in range(1, 11):
    nums.append(i)
    print(nums)
    print(sum(nums))

[1]
1
[1, 2]
3
[1, 2, 3]
6
[1, 2, 3, 4]
10
[1, 2, 3, 4, 5]
15
[1, 2, 3, 4, 5, 6]
21
[1, 2, 3, 4, 5, 6, 7]
28
[1, 2, 3, 4, 5, 6, 7, 8]
36
[1, 2, 3, 4, 5, 6, 7, 8, 9]
45
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55

In [165]:
numbers = [1, 2, 3, 4, 5]
for i in range(5):
    print(numbers[i])

1
2
3
4
5

In [234]:
numbers = [1, 2, 3, 4, 5]
num = 0
while num < 5: 
    print(numbers[num])
    num += 1

1
2
3
4
5

In [242]:
num = 0
while num < 10:
    num += 1
    print(num)

1
2
3
4
5
6
7
8
9
10

In [240]:
animals = ["dog", "cat", "elephant", "tiger"]
num = 0
while num < 4:
    print(animals[num])
    num += 1

dog
cat
elephant
tiger

# 되새김문제 (p.116 -119)

In [ ]:
# 1.
score = [75, 85, 55]
print(sum(score)/3)

71.66666666666667

In [256]:
# 2.
a = 13
if a % 2 == 1 :
    print("홀수입니다")

홀수입니다

In [ ]:
# 3.
pin = "881120-1068234"
yyyymmdd = "19" + pin[0:6]
num = pin[7:]
print(yyyymmdd)
print(num)

19881120
1068234

In [269]:
# 4.
pin = "881120-1068234"
print(pin[7])

1

In [270]:
# 5.
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [273]:
# 6.
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [275]:
# 7.
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [299]:
# 8.
a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [310]:
# 9.
a = dict()
a[[1]] = 'hello'

TypeError: unhashable type: 'list'

In [311]:
# 10.
a = {'A': 90, 'B':80, 'C': 70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [319]:
# 11.
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(a)
print(aSet)
print(b)

[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

In [320]:
# 12.
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

# 되새김문제 (p.149 -151)

In [323]:
# 1.
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

In [324]:
# 2.
result = 0
i = 1
while i <= 1000:
    if i%3 == 0:
        result += i
    i += 1
print(result)

166833

In [328]:
# 3.
i = 0
while True:
    i += 1
    if i >5 :break
    print("*" * i)

*
**
***
****
*****

In [ ]:
# 4.
# skip

In [329]:
# 5.
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score
average = total / len(A)
print(average)

79.0

In [332]:
# 6.
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n %2 == 1:
        result.append(n * 2)
print(result)

[2, 6, 10]

In [333]:
# 6.
result = [num * 2 for num in numbers if num % 2 == 1]
print(result)

[2, 6, 10]

# 초보자를 위한 파이썬

In [ ]:
# 7~8 문자 치환하기
a = "naver,kakao,sk,samsung"
print(a)

print(a.replace(",",";"))
print(a.replace(",","/"))

naver,kakao,sk,samsung
naver;kakao;sk;samsung
naver/kakao/sk/samsung

In [ ]:
# 9 줄바꿈 무시하기
print("first", end="")
print("second")

firstsecond

In [ ]:
# 20 숫자 연산하기
rate = int(48584)
print(rate * 36)

1749024

In [ ]:
# 22 문자열 추출하기
a = license_plate = "24가 2210"
print(a[-4:])

2210

In [ ]:
# 24 문자열을 원소로 쪼갠 후 순서를 뒤집어서 다시 문자열로 만들기
string = "PYTHON"
a = list(string)
a.reverse()
print("".join(a))

NOHTYP

In [ ]:
# 25 문자 치환하기
a = phone_number = "010-1111-2222"
print(a.replace("-", " "))

010 1111 2222

In [ ]:
# 38 숫자로 이루어진 문자열을 변수로 지정한 후 특정 문자를 치환하고, 이것을 정수형으로 변환하여 타입을 추출하기 
a = 상장주식수 = "5,969,782,550"
b = int(a.replace(",",""))
print(b)
print("타입:",type(b))

5969782550
타입: <class 'int'>

In [ ]:
# 40 "띄어쓰기" 라는 문자를 공백으로 치환하기 
data = "    삼성전자    "
print(data.replace(" ", ""))

삼성전자

In [ ]:
# 44 파일 이름의 끝(형식)이 xlsx인지 불리언으로 알아보기
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [ ]:
# 46 파일 이름의 시작을 확인하기
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [ ]:
# 47 문자열에서 띄어쓰기의 위치를 찾아내고 앞 뒤 단어를 따로 추출하기
a = "hello world"
b = a.find(" ")
print(a[0:b])
print(a[b+1:])

hello
world

In [ ]:
# 48 문자열에서 기호의 위치를 찾아내고 앞 뒤 단어를 따로 추출하기
ticker = "btc_krw"
b = ticker.find("_")
print(ticker[0:b])
print(ticker[b+1:])

btc
krw

In [ ]:
# 50 오른쪽에 있는 일정한 기호들을 무시하고 문자열을 출력하기
data = "039490........."
print(data.rstrip("."))

039490

In [ ]:
# 59 리스트의 크기 추출하기
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [ ]:
# 60 숫자로 이루어진 리스트가 있다. 이 리스트의의 총합을 구하고, 리스트의 크기로 나누어 리스트의 평균값을 구하라
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

In [ ]:
# 64 리스트 뒤집기
nums = [1, 2, 3, 4, 5]
nums.reverse()
print(nums)

[5, 4, 3, 2, 1]

In [ ]:
# 80 일정 범위에서 짝수로 이루어진 튜플 생성하기
umd = tuple(range(2, 100, 2))
print(umd)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)